profiles {
  awsbatch {
    docker.enabled = true
    
    process {
      executor = 'awsbatch'
      queue = 'arn:aws:batch:us-east-2:047752241146:job-queue/nextflow-job-queue-ec2'

      withName: DOWNLOAD_AND_UPLOAD_SRA {
        container = 'quay.io/biocontainers/sra-tools:3.2.1--h4304569_0'
        memory = '16 GB'
        cpus = 2
      }

      withName: FASTQC {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
        memory = '16 GB'
        cpus = 2
      }

      withName: FASTP {
        container = 'quay.io/biocontainers/fastp:0.23.4--hadf994f_1'
        memory = '16 GB'
        cpus = 2
      }

      withName: STAR_ALIGN {
        container = 'quay.io/biocontainers/star:2.7.10b--h9ee0642_0'
        memory = '64 GB'
        cpus = 8
      }

      withName: FEATURE_COUNTS {
        container = 'quay.io/biocontainers/subread:2.0.1--hed695b0_0'
        memory = '16 GB'
        cpus = 4
      }

      withName: MULTIQC {
        container = 'quay.io/biocontainers/multiqc:1.14--pyhdfd78af_0'
        memory = '16 GB'
        cpus = 4
      }
    }

    aws {
      region = 'us-east-2'
    }

    // Enable Fusion FS and Wave
    fusion {
      enabled = true
    }

    wave {
      enabled = true
    }

    // S3 and workspace configuration
    workDir = 's3://nextflow-data-bucket-1146/nextflow-workdir/'
    
    // AWS Batch retry strategy
    process.errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'terminate' }
    process.maxRetries = 3
    
    // Parameters for the workflow
    params {
      srr_file   = 's3://nextflow-data-bucket-1146/data/SRR_Acc_List.txt'
      genome_dir = 's3://nextflow-data-bucket-1146/data/genomes/star_index'
      gtf        = 's3://nextflow-data-bucket-1146/data/genomes/Mus_musculus.GRCm39.104.gtf.gz'
    }
  }
}
